*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

h1{
    align-content: center;
    margin: 12px;
}
.contactform{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.contactinput{width: 40%;
    margin: 7px;
    /* color: blueviolet; */
    /* background-color: grey; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 13px;
    border: 2px solid slategrey;
    font-size: 16px;
    border-radius: 9px;
    outline: none;

}
.container{
    min-height: 86vh;
    margin-top: 12px;

}
.container h1{
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contactbtn{margin-top: 11px;
    background-color: cadetblue;
    width: 20%;
    font-size: 19px;
    margin-top: 22px;
    padding: 11px;
    text-align: center;
    border: 2px solid rgba(58, 152, 155, 0.966);
    border-radius: 17px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
}
.contactbtn:hover{
    background-color:rgba(13, 81, 83, 0.699);
}